.box_shadow {
  box-shadow: 0px 0px 5px gray;
}

.banner_btn {
  background-image: url(./assets/Image/bg-image/btn-brush-bg-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
