.box_shadow {
  box-shadow: 0px 0px 5px gray;
}

.banner_btn {
  background-image: url(./assets/Image/bg-image/btn-brush-bg-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_btn_two {
  background-image: url(./assets/Image/bg-image/btn-brush-bg-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #1e3d59;
  opacity: 100% !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  background: #ff6e40 !important;
  border: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  height: 40px !important;
  width: 40px !important;
  border-radius: 100% !important;
  color: white;
  transition: 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #ff6e40 !important;
}
.mySwiper:hover .swiper-button-next,
.mySwiper:hover .swiper-button-prev {
  background: #1e3d59;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 10px !important;
}

.feature_card {
  transition: 0.3s;
}
.feature_card:hover {
  box-shadow: 0px 0px 8px #1e3d59;
}

.feature_card:hover img {
  transform: translateY(-10px);
}

.card_image_one {
  z-index: 1;
  transition: 0.3s;
}

.card:hover .card_image_two {
  z-index: 1;
}

.addbannerOne {
  background-image: url(./assets/Image/bg-image/banner-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 3px #1e3d59;
}

.bannerTwoOne {
  background-image: url(./assets/Image/bg-image/banner-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 3px #1e3d59;
}
.bannerTwoTwo {
  background-image: url(./assets/Image/bg-image/banner-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 3px #1e3d59;
}
.bannerTwoThree {
  background-image: url(./assets/Image/bg-image/banner-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 3px #1e3d59;
}

.container > div {
  display: flex;
  flex-direction: column;
}

.section-header {
  order: -2;
}

.card:hover {
  box-shadow: 0px 0px 8px #1e3d59;
}

.hover_btn {
  bottom: -350px;
  transition: 0.5s;
}
.card:hover .hover_btn {
  bottom: 0;
}
.card-swiper:hover .hover_btn {
  bottom: 0;
}

/* 
 HeaderText-Color :#1e3d59
 BgColor-Color :#1e3d59
 ParagraphText: #f5f0e1
 Button-Color :#1e3d59
 HoverButton-Color :#ff6e40
 md:py-[50px]
 md:px-[80px] px-[20px]

 */
